/* Updated custom styles with a colorful design */

body {
  font-family: "Poppins", monospace;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: navy; /* Navy background color */
  color: #fff;
  padding: 20px;
}

h1 {
    font-size: 4.5em;
    text-shadow: 6px 6px 6px yellow;
}
h2 {
    font-size: 2.3em;
}

section {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form {
  margin-top: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  cursor: pointer;
}

img {
    margin: 10px;
}

#dark-mode-toggle {
  position: fixed;
  top: 0;
  right: 0;
  padding: 5px;
}

#recipe-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.imgButton {
  text-align: center;
}