body {
  font-family: "Poppins", monospace;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

header {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 4.5em;
    text-shadow: 6px 6px 6px #546e7a;
}
  
h2 {
    font-size: 2.3em;
}

section {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form {
  margin-top: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

img {
    margin: 10px;
}

.mode {
    transition: all 1.5s;
}

.light {
    background-color: #fafafa;
    color: #000000;
}

.light button {
  background-color: #fafafa;
}

.dark {
    background-color: #263238;
    color: bisque;
    transition: all 1.5s;
}

.dark button {
  background-color: #37474f;
  color: antiquewhite;
}

.dark section {
  background-color: #546e7a;
  color: bisque;
}
#dark-mode-toggle {
  position: fixed;
  top: 0;
  right: 0;
  padding: 5px;
}

#recipe-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.imgButton {
  text-align: center;
}