/* Reset some default styles for the body */
body {
  font-family: "Poppins", monospace;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

/* Styles for the header */
header {
  text-align: center;
  background-image: url(../images/img_1466_p1.jpg);
  background-size: auto;
  padding: 20px;
}

/* Styles for the main heading */
h1 {
  font-size: 4.5em;
  text-shadow: 6px 6px 6px #546e7a;
}

/* Styles for secondary headings */
h2 {
  font-size: 2.3em;
}

/* Style for sections */
section {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style for forms */
form {
  margin-top: 10px;
}

/* Style for labels */
label {
  display: block;
  margin-bottom: 5px;
}

/* Style for text input */
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style for buttons */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-content: center;
}

/* Style for images */
img {
  border: 1px solid rgb(48, 46, 46);
  border-radius: 10px;
  margin: 10px;
}

/* Define styles for light and dark modes */
.mode {
  transition: all 1.5s;
}

/* Styles for the light mode */
.light {
  background-color: #fafafa;
  color: #000000;
}

.light header {
  color: antiquewhite;
}

.light button {
  background-color: #fafafa;
}

/* Styles for the dark mode */
.dark {
  background-color: #263238;
  color: bisque;
  transition: all 1.5s;
}

.dark button {
  background-color: #37474f;
  color: bisque;
}

.dark section {
  background-color: #546e7a;
  color: bisque;
}

.dark .card-panel {
  background-color: #263238;
  color: bisque;
}
/* Position the dark mode toggle */
#dark-mode-toggle {
  position: fixed;
  top: 0;
  right: 0;
  padding: 5px;
}

/* Style for recipe images */
#recipe-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-panel {
  border-radius: 15px;
  cursor: pointer;
}

/* Style for cocktail section */
#cocktail-section {
  display: none;
  text-align: center;
}

/* Style for cocktail images */
#cocktail-Image {
  align-self: center;
  margin: 0 auto;
  width: 300px;
  height: auto;
  margin: 10px;
}

#cocktailName {
  align-self: center;
  cursor: pointer;
}

/* Define styles for the hidden card panels */
.card-panel.hoverable {
  display: none;
  text-align: center;
  border-radius: 15px;
}

/* Hide the search results and cocktail section */
#search-results {
  display: none;
}
